a {
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

a:hover {
  opacity: 1;
}

body {
  background-color: #14161C;
}

.album-title {
  font-family: "Synt";
  font-size: 1.5rem;
  font-weight: initial;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.song-title {
  font-family: "Synt";
  font-size: 2.75rem;
  font-weight: initial;
  margin: -0.25rem 0 0 0;
  padding: 0;
}

.song-info {
  font-family: "neue-haas-grotesk-text";
  font-size: 0.5rem;
  font-weight: 10;
  margin: 0;
  padding: 0;
}

.song-lyrics {
  font-family: "neue-haas-grotesk-text";
  font-size: 0.7rem;
  font-weight: 0;
}

.song-comment {
  font-family: "neue-haas-grotesk-text";
  font-size: 0.6rem;
  font-weight: 0;
}

h2 {
  font-family: "neue-haas-grotesk-text";
  font-size: 0.75rem;
  font-weight: 100;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0;
}

.link {
  font-family: "AlteHaas";
  font-size: 0.75rem;
  font-weight: 0;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

.album-img {
  width: 25rem;
}

#noone, #latetotheparty {
  color: #2A73FF;
}
#noone .line, #latetotheparty .line {
  border-top: 1px solid #2A73FF;
}
#noone .album-img, #latetotheparty .album-img {
  border: 1px solid #2A73FF;
  border-radius: 10px;
}

#eyecandy, #grownonme {
  color: #0D8A4E;
}
#eyecandy .line, #grownonme .line {
  border-top: 1px solid #0D8A4E;
}
#eyecandy .album-img, #grownonme .album-img {
  border: 1px solid #0D8A4E;
  border-radius: 10px;
}

#halflife, #shinedownonme {
  color: #FE4E15;
}
#halflife .line, #shinedownonme .line {
  border-top: 1px solid #FE4E15;
}
#halflife .album-img, #shinedownonme .album-img {
  border: 1px solid #FE4E15;
  border-radius: 10px;
}

#icantbehappywithanything, #fakeloverinadaydream {
  color: #FE2A5D;
}
#icantbehappywithanything .line, #fakeloverinadaydream .line {
  border-top: 1px solid #FE2A5D;
}
#icantbehappywithanything .album-img, #fakeloverinadaydream .album-img {
  border: 1px solid #FE2A5D;
  border-radius: 10px;
}

#proudofyou, #prettybox {
  color: #FF7A63;
}
#proudofyou .line, #prettybox .line {
  border-top: 1px solid #FF7A63;
}
#proudofyou .album-img, #prettybox .album-img {
  border: 1px solid #FF7A63;
  border-radius: 10px;
}

#justanotherlonelygirl, #irememberyoufondly {
  color: #A937DF;
}
#justanotherlonelygirl .line, #irememberyoufondly .line {
  border-top: 1px solid #A937DF;
}
#justanotherlonelygirl .album-img, #irememberyoufondly .album-img {
  border: 1px solid #A937DF;
  border-radius: 10px;
}

#theband {
  color: #FFFFFF;
}
#theband .line {
  border-top: 1px solid #FFFFFF;
}
#theband .album-img {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
}

/* cursor selection matches section colour */
p::-moz-selection {
  background-color: #FFFFFF;
}
p::selection {
  background-color: #FFFFFF;
}

em::-moz-selection {
  background-color: #FFFFFF;
}

em::selection {
  background-color: #FFFFFF;
}

strong::-moz-selection {
  background-color: #FFFFFF;
}

strong::selection {
  background-color: #FFFFFF;
}

code::-moz-selection {
  background-color: #FFFFFF;
}

code::selection {
  background-color: #FFFFFF;
}

h1::-moz-selection {
  background-color: #FFFFFF;
}

h1::selection {
  background-color: #FFFFFF;
}

h2::-moz-selection {
  background-color: #FFFFFF;
}

h2::selection {
  background-color: #FFFFFF;
}

h3::-moz-selection {
  background-color: #FFFFFF;
}

h3::selection {
  background-color: #FFFFFF;
}

h4::-moz-selection {
  background-color: #FFFFFF;
}

h4::selection {
  background-color: #FFFFFF;
}

h5::-moz-selection {
  background-color: #FFFFFF;
}

h5::selection {
  background-color: #FFFFFF;
}

a::-moz-selection {
  background-color: #FFFFFF;
}

a::selection {
  background-color: #FFFFFF;
}

ul::-moz-selection {
  background-color: #FFFFFF;
}

ul::selection {
  background-color: #FFFFFF;
}

ol::-moz-selection {
  background-color: #FFFFFF;
}

ol::selection {
  background-color: #FFFFFF;
}

li::-moz-selection {
  background-color: #FFFFFF;
}

li::selection {
  background-color: #FFFFFF;
}

img::-moz-selection {
  background-color: #FFFFFF;
}

img::selection {
  background-color: #FFFFFF;
}

figcaption::-moz-selection {
  background-color: #FFFFFF;
}

figcaption::selection {
  background-color: #FFFFFF;
}

input::-moz-selection {
  background-color: #FFFFFF;
}

input::selection {
  background-color: #FFFFFF;
}