$white: #FFFFFF;
$blue: #2A73FF;
$green: #0D8A4E;
$purple: #A937DF;
$black: #14161C;
$red: #FE2A5D;
$orange: #FE4E15;
$pink: #FF7A63;


a {
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
}

a:hover {
    opacity: 1;
}

body {
    background-color: $black;
}

.album-title {
    font-family: "nimbus-roman", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.5rem;
    color: $white;
    margin: 0;
    padding: 0;
}

.song-title {
    font-family: "AlteHaas-bold";
    font-size: 5rem;
    font-weight: initial;
    margin: 0 0 0 0;
    padding: 0;
    max-width: 45rem;
    letter-spacing: -3px;
    line-height: 80%;
}

.song-info {
    font-family: "neue-haas-grotesk-text";
    font-size: 0.5rem;
    font-weight: 10;
    margin: 0;
    padding: 0;
}

.song-lyrics {
    font-family: "nimbus-roman", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 0.7rem;
    margin:0;
    padding:0;
}

.song-comment {
    font-family: "neue-haas-grotesk-text";
    font-size: 0.6rem;
    font-weight: 0;
}

h2 {
    font-family: "AlteHaas-bold";
    font-size: 0.75rem;
    font-weight: 100;
    margin: 0.5rem 0 1rem 0;
    padding: 0;
}

.link {
    font-family: "AlteHaas-regular";
    font-size: 0.75rem;
    font-weight: 0;
    color: $white;
    opacity: 0.5;
    margin: 0;
    padding: 0;
    line-height: 80%;
}

.album-img {
    width: 25rem;
}

iframe {
    width: 100%;
    height: 100%;
}

.iframe-container {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid $blue;
    border-radius: 10px;
    // aspect-ratio: 16 / 9;
    border: 1px orange solid;
}



#noone,
#latetotheparty {
    color: $blue;

    .line {
        border-top: 1px solid $blue;
    }

    .album-img {
        border: 1px solid $blue;
        border-radius: 10px;
    }

    .song-title {
        -webkit-text-stroke: 1px $blue;
    }

}

#eyecandy,
#grownonme {
    color: $green;

    .line {
        border-top: 1px solid $green;
    }

    .album-img {
        border: 1px solid $green;
        border-radius: 10px;
    }

    .song-title {
        -webkit-text-stroke: 1px $green;
    }
}

#halflife,
#shinedownonme {
    color: $orange;

    .line {
        border-top: 1px solid $orange;
    }

    .album-img {
        border: 1px solid $orange;
        border-radius: 10px;
    }

    .song-title {
        -webkit-text-stroke: 1px $orange;
    }
}

#icantbehappywithanything,
#fakeloverinadaydream {
    color: $red;

    .line {
        border-top: 1px solid $red;
    }

    .album-img {
        border: 1px solid $red;
        border-radius: 10px;
    }

    .song-title {
        -webkit-text-stroke: 1px $red;
    }
}

#proudofyou,
#prettybox {
    color: $pink;

    .line {
        border-top: 1px solid $pink;
    }

    .album-img {
        border: 1px solid $pink;
        border-radius: 10px;
    }

    .song-title {
        -webkit-text-stroke: 1px $pink;
    }
}

#justanotherlonelygirl,
#irememberyoufondly {
    color: $purple;

    .line {
        border-top: 1px solid $purple;
    }

    .album-img {
        border: 1px solid $purple;
        border-radius: 10px;
    }

    .song-title {
        -webkit-text-stroke: 1px $purple;
    }
}

#theband {
    color: $white;

    .line {
        border-top: 1px solid $white;
    }

    .album-img {
        border: 1px solid $white;
        border-radius: 10px;
    }
}




/* MOBILE BREAKPOINT */
@media screen and (max-width: 767px) {
    .song-title {
        // font-size: 3rem;
        font-weight: initial;
        letter-spacing: -2px;
        text-align: center;
    }

    .song-lyrics {
        font-size:1.2rem;
        max-width:20rem;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    .song-comment {
        max-width:20rem;
    }
       
}










/* cursor selection matches section colour */

@mixin background-colour {
    background-color: $white;
}

p::selection {
    @include background-colour;
}

em::selection {
    @include background-colour;
}

strong::selection {
    @include background-colour;
}

code::selection {
    @include background-colour;
}

h1::selection {
    @include background-colour;
}

h2::selection {
    @include background-colour;
}

h3::selection {
    @include background-colour;
}

h4::selection {
    @include background-colour;
}

h5::selection {
    @include background-colour;
}

a::selection {
    @include background-colour;
}

ul::selection {
    @include background-colour;
}

ol::selection {
    @include background-colour;
}

li::selection {
    @include background-colour;
}

img::selection {
    @include background-colour;
}

figcaption::selection {
    @include background-colour;
}

input::selection {
    @include background-colour;
}

iframe::selection {
    @include background-colour;
}