/* GENERAL LAYOUT */

/*parent of all containers, margin around sides*/
.outer-margin-container {
    margin: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    // border: 1px solid yellow;
}

/*header nav parent*/
.header-container {
    display: flex;
    flex-direction: row;
    // border: 1px solid pink;
    align-items: center;
    // background-color: #14161C;
    padding: 1rem 0 1.5rem 0;
    // margin-bottom: 4rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.left-link {
    display: flex;
    justify-self: left;
    // border: 1px solid pink;

}

.center-link {
    display: flex;
    justify-content: center;
    // border: 1px solid red;
    flex: 1;
}

.outer-right-link {
    display: flex;
    justify-self: right;
    flex-direction: row;
    // border: 1px solid yellow;
    // justify-content: space-between;
    gap: 1rem;
}

/* actual content*/

/* holding all subsequent flexbox*/
.outer-box{
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    gap:5rem;
}

/* holding one song*/
.song-box{
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    gap:0.5rem;
}

/* holding one song*/
.lyrics-box{
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    // border: 1px solid orange;
    gap:2rem;
}

/* holding one song*/
.just-lyrics{
    display: flex;
    // flex: 0 0 auto;
    flex-direction: row;
    // border: 1px solid green;
    gap:2rem;
    max-width:500px;
}

/* holding one about album paragraph*/
.album-box{
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    // border: 1px solid green;
    gap:2rem;
    max-width:500px;
}

.about-album{
    // border: 1px solid pink;
}


.song-lyrics{
    flex:0.75;
    gap:1.5rem;
    // border: 1px solid blue;
    
}

/*spacer for about lyrics and space*/
.spacer{
    display: flex;
    flex-direction:column;
    flex:2;
    // border: 1px solid aqua;
    justify-content: flex-start;
    align-items: flex-end;
}

.about-lyrics{
    max-width:300px;
    // border: 1px solid pink;
}

footer{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    margin: 1rem 0 1rem 0;
}

.vertical-spacer{
    margin:1rem 0 0 0;
}


/*LYRICS WRAP BREAKPOINT*/
@media screen and (max-width: 800px) {

    body{
        background-image: url('../img/img2.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        min-height: 100vw;
        margin: 0;
        padding: 0;
}

    .lyrics-box{
        display: flex;
        // flex: 0 0 auto;
        flex-direction: column;
        // border: 1px solid green;
        gap:0.5rem;
    }

    .just-lyrics{
        display: flex;
        // flex: 0 0 auto;
        flex-direction: column;
        // border: 1px solid green;
        gap:0.5rem;
    }

    .spacer{
        display: flex;
        flex-direction:column;
        flex:1;
        // border: 1px solid blue;
        justify-content: flex-start;
        align-items: flex-start;
        // max-width:50vw;
        margin-top: 1rem;
    }

    .about-lyrics{
        max-width:500px;
    }

}